.list-product {
  height: calc(100% - 188px);
  overflow: auto;
}

.footerCart {
  margin-top: 1rem;
  border-top: 0.2rem solid #e9e9e9;
}

.footerCartTotal {
  padding: 0 2.5rem;
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
