.list-product {
  height: calc(100% - 183px);
  overflow: auto;
}

.footerCart {
  margin-top: 1rem;
  border-top: 0.2rem solid #e9e9e9;
}

.footerCartTotal {
  padding: 0 2.5rem;
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnClose {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 3.2rem;
  cursor: pointer;
}
