.navbar {
  width: 100%;
  height: 100px;
  background-image: url("../../assets/image/bg-navbar.png");
  background-size: contain;
  background-repeat: repeat-x;
}

.logotipo {
  max-width: 100px;
  width: 25%;
  padding: 1rem 1rem 1rem 2rem;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  padding: 1rem;
}

.menu a {
  color: #000;
  margin-right: 2.5rem;
}

.menu a:hover {
  color: #d24434;
}
